<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<auto_coupon>
			<general>
				<status/>
				<message>Coupon code has been applied successfully</message>
				<error_message>An error has occured. Please contact the site administrator for further information.</error_message>
			</general>
		</auto_coupon>
	</default>
</config>
