<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="checkout_cart_product_add_after">
		<observer instance="Imageineonline\AutoCoupon\Observer\Frontend\ApplyCoupon" name="ioautocoupon_checkout_cart_product_add_after"/>
	</event>
	<event name="customer_login">
		<observer instance="Imageineonline\AutoCoupon\Observer\Frontend\ApplyCoupon" name="ioautocoupon_customer_login"/>
	</event>
</config>
